<a href="https://colab.research.google.com/github/sanyamjain789523/personalProjects/blob/main/Data_Processing_(Fuzzy).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import glob
import os

In [ ]:
# # codeblock to convert DILRMP_Data directory to a single dataframe

# path = r'DILRMP_Data'
# dL = []
# for filefolder in os.listdir(path):
#   if filefolder not in [".DS_Store"]:
#     path2 = path + "/" + filefolder
#     print(os.listdir(path2))
#     for file in os.listdir(path2):
#       # print("filefolder: ",filefolder)
#       # print("file: ",file)
#       # print(file)
#       path3 = path2 +"/"+ file
#       # print(path3)
#       df = pd.read_csv(path3)
#       if "]" in filefolder:
#         df["state"] = filefolder[:-1]
#         df["district"] = file[:-4]
#       else:
#         df["state"] = filefolder
#         df["district"] = file[:-4]
#       df_from_each_file = dL.append(df)

#     # break
# df
# concatenated_df   = pd.concat(dL, ignore_index=True)

#     # print(os.listdir(path2))
#     # all_files = glob.glob(os.path.join(path,"/",filefolder, "/*.csv")) 
#     # print(filefolder)
#     # print(os.path.join(path,"/",filefolder, "*.csv"))
#     # df_from_each_file = (pd.read_csv(f) for f in all_files)
#     # concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)

# # concatenated_df

In [ ]:
# concatenated_df.to_csv("DILRMP_Data1.csv")

In [ ]:
# path = r'PMGSY_Data'

# print(os.listdir(path))

In [ ]:
# concatenated_df

In [ ]:
import tqdm

In [ ]:
# # codeblock to convert PMGSY_Data directory to a single dataframe

# path = r'PMGSY_Data'
# dL = []
# for filefolder in os.listdir(path):
#   print(filefolder)
#   if filefolder not in [".DS_Store"]:
#     path2 = path + "/" + filefolder
#     for folder in os.listdir(path2):
#       if folder not in [".DS_Store"]:
#         # print(folder)
#         path3 = path2 + "/" + folder
#         for file in os.listdir(path3):
#           # print(file)
#           path4 = path3 +"/"+ file
#           # print(path4)
#           # print("filefolder: ",filefolder)
#           # print("folder: ",folder)
#           # print("file: ",file,file[:-4])
#           # print(df_from_each_file1)
#           df = pd.read_csv(path4)
#           df["state"] = filefolder
#           # df["districtCustom"] = folder
#           df["subdistrict"] = file[:-4]
#           dL.append(df)
#     # break 
# # df
# concatenated_df1   = pd.concat(dL, ignore_index=True)
# # concatenated_df1

#     # print(os.listdir(path2))
#     # all_files = glob.glob(os.path.join(path,"/",filefolder, "/*.csv")) 
#     # print(filefolder)
#     # print(os.path.join(path,"/",filefolder, "*.csv"))
#     # df_from_each_file = (pd.read_csv(f) for f in all_files)
#     # concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)
# # concatenated_df1.to_csv("PMGSY_Data1.csv")
# concatenated_df1.head()

In [ ]:
import pandas as pd

In [ ]:
# reading the obtained datasets
shrug_df = pd.read_csv("shrug_names.csv")
PMGSY_df = pd.read_csv("PMGSY_Data1.csv")
DILRMP_df = pd.read_csv("DILRMP_Data.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (21,30,45,49,53) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
PMGSY_df = PMGSY_df.fillna("")

In [ ]:
from tqdm import tqdm

In [ ]:
# lRoad = []
# lDist = []
# lState = []
# lStateDist = []
# LhabOut = []
# i = 0
# for road in tqdm(PMGSY_df.road_name.to_list()):
#   if i <= 5 :
#     lHab = []

#     lRoad.append(road)
#     lDist.append(list(set(PMGSY_df[PMGSY_df["road_name"] == road]["district"].to_list())))
#     lState.append(list(set(PMGSY_df[PMGSY_df["road_name"] == road]["state"].to_list())))
#     lStateDist.append(list(set(PMGSY_df[PMGSY_df["road_name"] == road]["subdistrict"].to_list())))

#     lH = ['habit1',
#         'habit2', 'habit3', 'habit4', 'habit5', 'habit6',
#         'habit7', 'habit8', 'habit9', 'habit10']
#     for habitat in lH:
#       lHab.extend(PMGSY_df[PMGSY_df["road_name"] == road][habitat].to_list())
#     # print(lHab)
#     # break
#     LhabOut.append(lHab)
#     i+=1
  
#   # break

# # lHab,lRoad,lDist,lState,lStateDist,LhabOut

In [ ]:
# d = {
#     "lRoad" : lRoad,"lDist":lDist,"lState":lState,"lStateDist":lStateDist,"LhabOut":LhabOut
# }

# PMG_df2 = pd.DataFrame(d)
# PMG_df2
# # PMG_df2.to_csv("PMG_df2.csv")

## Below code is for PMGSY_df procesing

In [ ]:
PMGSY_Groupeddf = PMGSY_df.groupby(["road_name","district","state","subdistrict"])["road_name","district","state","subdistrict",'habit1',
        'habit2', 'habit3', 'habit4', 'habit5', 'habit6',
        'habit7', 'habit8', 'habit9', 'habit10'].head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
PMGSY_Groupeddf["comb"] = PMGSY_Groupeddf['habit1']+", "+PMGSY_Groupeddf['habit2']+", "+ PMGSY_Groupeddf['habit3']+", "+ PMGSY_Groupeddf['habit4']+", "+ PMGSY_Groupeddf['habit5']+", "+ PMGSY_Groupeddf['habit6']+", "+PMGSY_Groupeddf ['habit7']+", "+ PMGSY_Groupeddf['habit8']+", "+ PMGSY_Groupeddf['habit9']+", "+ PMGSY_Groupeddf['habit10']

In [ ]:
PMGSY_Groupeddf.head()

                                 road_name  ...                                               comb
0                 Bajpur Baria Daulat Road  ...                                 , , , , , , , , ,
1                             Maleria Road  ...                                 , , , , , , , , ,
2  Sitargunj Nakulia KM 6 - Lauka Bhithora  ...  Bandwari , Banskheri , Gangapur , Hulsanganj ,...
3            Tehri Moradabad to Basai Road  ...                        Nawalpur , , , , , , , , ,
4    Fazalpur - New Abadi Sipka Motor Road  ...  Milak Sipka , Nai Abadi Sipla , Sipka , , , , ...

[5 rows x 15 columns]

In [ ]:
import numpy as np

In [ ]:
def cleanEmptyList(x):
  if x in [", , , , , , , , , "]:
    return ""
  else:
    return list(x.strip(", ").split(', '))

In [ ]:
PMGSY_Groupeddf["combCleaned"] = PMGSY_Groupeddf.comb.apply(cleanEmptyList)

In [ ]:
pd.set_option("display.max_rows",1000)

In [ ]:
PMGSY_Villagesdf = PMGSY_Groupeddf.apply(lambda x: pd.Series(x.combCleaned), axis=1).stack().reset_index(level=1, drop=1).to_frame('combCleaned').join(PMGSY_Groupeddf[["road_name",	"district",	"state",	"subdistrict"]])
PMGSY_Villagesdf

                      combCleaned  ...     subdistrict
0                                  ...          Bazpur
1                                  ...          Bazpur
2                       Bandwari   ...          Bazpur
2                      Banskheri   ...          Bazpur
2                       Gangapur   ...          Bazpur
...                           ...  ...             ...
172123  Rabindra Nagar Ward No. 8  ...  Little Andaman
172124  Ward No 1 Vivekanandapur   ...  Little Andaman
172124  Ward No 2 Vivekanandapur   ...  Little Andaman
172124  Ward No 3 Vivekanandapur   ...  Little Andaman
172124   Ward No 4 Vivekanandapur  ...  Little Andaman

[437974 rows x 5 columns]

In [ ]:
def cleanText(text):
  text = text.lower()
  killpunctuation = str.maketrans('', '', r"-()\"#/@;:][<>{}-=~|.?,")
  return text.translate(killpunctuation)

In [ ]:
cleanText("wcu24fO9wicn[=qwc-rq9wcn")

'wcu24fo9wicnqwcrq9wcn'

In [ ]:
for column in PMGSY_Villagesdf.columns:
  PMGSY_Villagesdf[column+"Cleaned"] = PMGSY_Villagesdf[column].apply(cleanText)

In [ ]:
PMGSY_Villagesdf.columns = ['combCleaned_PMGSY', 'road_name_PMGSY', 'district_PMGSY', 'state_PMGSY', 'subdistrict_PMGSY',
       'villages_PMGSY', 'road_nameCleaned_PMGSY', 'districtCleaned_PMGSY',
       'stateCleaned_PMGSY', 'subdistrictCleaned_PMGSY']

## Below code for shrug_df processing

In [ ]:
shrug_df.columns

Index(['state_name', 'district_name', 'subdistrict_name', 'place_name',
       'shrid'],
      dtype='object')

In [ ]:
shrug_df.head()

      state_name  district_name subdistrict_name      place_name         shrid
0        manipur  churachandpur    churachandpur      B. Kholmun  11-14-269529
1  jammu kashmir       baramula         tangmarg  Ati Pora Zikar  11-01-002621
2  jammu kashmir          jammu          akhnoor           Batal  11-01-005491
3  jammu kashmir        kupwara          kupwara       Dedi Koot  11-01-000103
4  jammu kashmir        rajouri       thanamandi        Hasploot  11-01-001272

In [ ]:
shrug_df = shrug_df.fillna("")

In [ ]:
for column in ['state_name', 'district_name', 'subdistrict_name', 'place_name']:
  shrug_df[column+"CleanedSHRUG"] = shrug_df[column].apply(cleanText)

In [ ]:
shrug_df.columns = ['state_name_SHRUG', 'district_name_SHRUG', 'subdistrict_name_SHRUG', 'place_name_SHRUG',
       'shrid_SHRUG', 'state_nameCleaned_SHRUG', 'district_nameCleaned_SHRUG',
       'subdistrict_nameCleaned_SHRUG', 'villages_SHRUG']

In [ ]:
PMGSY_Villagesdf.head()

  combCleaned_PMGSY  ... subdistrictCleaned_PMGSY
0                    ...                   bazpur
1                    ...                   bazpur
2         Bandwari   ...                   bazpur
2        Banskheri   ...                   bazpur
2         Gangapur   ...                   bazpur

[5 rows x 10 columns]

In [ ]:
PMGSY_Villagesdf.head(2)

  combCleaned_PMGSY  ... subdistrictCleaned_PMGSY
0                    ...                   bazpur
1                    ...                   bazpur

[2 rows x 10 columns]

In [ ]:
shrug_df['k0'],shrug_df['k1'],shrug_df['k2'],shrug_df['k3'] = shrug_df['state_nameCleaned_SHRUG'],shrug_df['district_nameCleaned_SHRUG'],shrug_df['subdistrict_nameCleaned_SHRUG'],shrug_df['villages_SHRUG']
PMGSY_Villagesdf['k0'],PMGSY_Villagesdf['k1'],PMGSY_Villagesdf['k2'],PMGSY_Villagesdf['k3'] = PMGSY_Villagesdf['stateCleaned_PMGSY'],PMGSY_Villagesdf['districtCleaned_PMGSY'],PMGSY_Villagesdf['subdistrictCleaned_PMGSY'],PMGSY_Villagesdf['villages_PMGSY']

In [ ]:
# this merge if for inferential purposes only
shrugPMGSY_df = pd.merge(shrug_df, PMGSY_Villagesdf, how="inner", on=["k0","k1", "k2","k3"])

In [ ]:
shrugPMGSY_df.to_csv("shrugPMGSY_df_hard.csv")

In [ ]:
shrugPMGSY_df.shape

(29869, 23)

### 1) Reshapes the PMGSY dataset to be at the village-level and then uses fuzzy string matching to match PMGSY villages to SHRUG

In [ ]:
# combining villages and subdistrict to avoid merging of duplicate villages

# PMGSY_Villagesdf["villageKey"] = PMGSY_Villagesdf["villages"]+"_"+PMGSY_Villagesdf["subdistrictCleaned_PMGSY"]
# shrug_df["villageKey"] = shrug_df["villages"]+"_"+shrug_df["subdistrict_nameCleaned_SHRUG"]

In [ ]:
shrug_df.head()

  state_name_SHRUG district_name_SHRUG  ...             k2              k3
0          manipur       churachandpur  ...  churachandpur       b kholmun
1    jammu kashmir            baramula  ...       tangmarg  ati pora zikar
2    jammu kashmir               jammu  ...        akhnoor           batal
3    jammu kashmir             kupwara  ...        kupwara       dedi koot
4    jammu kashmir             rajouri  ...     thanamandi        hasploot

[5 rows x 13 columns]

In [ ]:
# !pip install fuzzymatcher

In [ ]:
PMGSY_Villagesdf.head(2)

  combCleaned_PMGSY           road_name_PMGSY  ...      k2 k3
0                    Bajpur Baria Daulat Road  ...  bazpur
1                                Maleria Road  ...  bazpur

[2 rows x 14 columns]

In [ ]:
# PMGSY_Villagesdf.districtCleaned_PMGSY.value_counts()

In [ ]:
# PMGSY_Villagesdf[PMGSY_Villagesdf["stateCleaned_PMGSY"]=="uttarakhand",PMGSY_Villagesdf["udham singh nagar"]]

In [ ]:
shrug_df.shape

(642049, 13)

In [ ]:
left_on = ["state_nameCleaned_SHRUG","district_nameCleaned_SHRUG", "subdistrict_nameCleaned_SHRUG", "villages_SHRUG"]

right_on = [
    "stateCleaned_PMGSY","districtCleaned_PMGSY", "subdistrictCleaned_PMGSY", "villages_PMGSY"
]

## Make sure to install fuzzymatcher using below code

In [ ]:
# !pip install fuzzymatcher

In [ ]:
PMGSY_Villagesdf.stateCleaned_PMGSY.unique(),len(PMGSY_Villagesdf.stateCleaned_PMGSY.unique())

(array(['uttarakhand', 'sikkim', 'tamilnadu', 'tripura', 'telangana',
        'uttar pradesh', 'rajasthan', 'west bengal', 'kerala', 'meghalaya',
        'odisha', 'mizoram', 'ladakh ut', 'nagaland', 'maharashtra',
        'manipur', 'punjab', 'madhya pradesh', 'jharkhand', 'assam',
        'jammu and kashmir', 'goa', 'gujarat', 'karnataka', 'bihar',
        'himachal pradesh', 'haryana', 'chhattisgarh', 'arunachal pradesh',
        'andhra pradesh', 'andaman and nicobar islands ut'], dtype=object), 31)

In [ ]:
shrug_df.state_nameCleaned_SHRUG.unique(),len(shrug_df.state_nameCleaned_SHRUG.unique())

(array(['manipur', 'jammu kashmir', 'himachal pradesh', 'uttarakhand',
        'arunachal pradesh', 'assam', 'madhya pradesh', 'rajasthan',
        'maharashtra', 'uttar pradesh', 'odisha', 'tamil nadu', 'gujarat',
        'west bengal', 'andhra pradesh', 'karnataka', 'meghalaya',
        'nagaland', 'chhattisgarh', 'bihar', 'jharkhand', 'punjab',
        'tripura', 'kerala', 'haryana', 'mizoram', 'puducherry',
        'dadra nagar haveli', 'andaman nicobar islands', '', 'sikkim',
        'orissa', 'goa', 'daman diu', 'lakshadweep', 'pondicherry',
        'chandigarh', 'nct of delhi'], dtype=object), 38)

In [ ]:
def replacement(x, word, replacement):
  if x == word:
    return replacement
  return x

In [ ]:
PMGSY_Villagesdf["stateCleaned_PMGSY"] = PMGSY_Villagesdf.stateCleaned_PMGSY.apply(lambda x : replacement(x,"tamilnadu", "tamil nadu"))
PMGSY_Villagesdf["stateCleaned_PMGSY"] = PMGSY_Villagesdf.stateCleaned_PMGSY.apply(lambda x : replacement(x,"telangana", "andhra pradesh"))
PMGSY_Villagesdf["stateCleaned_PMGSY"] = PMGSY_Villagesdf.stateCleaned_PMGSY.apply(lambda x : replacement(x,"ladakh ut", "jammu kashmir"))
PMGSY_Villagesdf["stateCleaned_PMGSY"] = PMGSY_Villagesdf.stateCleaned_PMGSY.apply(lambda x : replacement(x,"jammu and kashmir", "jammu kashmir"))
PMGSY_Villagesdf["stateCleaned_PMGSY"] = PMGSY_Villagesdf.stateCleaned_PMGSY.apply(lambda x : replacement(x,"andaman and nicobar islands ut", "andaman nicobar islands"))

In [ ]:
from time import sleep

In [ ]:
for item in PMGSY_Villagesdf.stateCleaned_PMGSY.unique():
  if item not in shrug_df.state_nameCleaned_SHRUG.unique().tolist():
    print(item)

In [ ]:
import fuzzymatcher
def fuzzy(leftDF, rightDF,leftStateColumn, rightStateColumn, stateName):

  leftDF = leftDF[leftDF[str(leftStateColumn)] == stateName]
  rightDF = rightDF[rightDF[str(rightStateColumn)] == stateName]

  Df = fuzzymatcher.fuzzy_left_join(leftDF,
                                              rightDF,
                                              left_on,
                                              right_on)

  return Df

# shrugFuzzyPmgsyDf.to_csv("shrugPmgsyDfFuzzyMatcher.csv")

In [ ]:
import tqdm

In [ ]:
dfD = {}
for state in tqdm.tqdm(PMGSY_Villagesdf.stateCleaned_PMGSY.unique().tolist()):
  dfR = fuzzy(shrug_df, PMGSY_Villagesdf, "state_nameCleaned_SHRUG", "stateCleaned_PMGSY", state)
  dfKey = "dfR" + state
  dfD[dfKey] = dfR
  # break
  sleep(5)

 17%|█▋        | 5/29 [06:25<35:32, 88.85s/it]

In [ ]:
# dfD["dfRuttarakhand"].sort_values("best_match_score", ascending = False)

In [ ]:
# dfR.sort_values("best_match_score", ascending = False)

# fuzzy operation on shrug and pmgsy data

In [ ]:
import fuzzymatcher
shrugFuzzyPmgsyDf = fuzzymatcher.fuzzy_left_join(shrug_df,
                                            PMGSY_Villagesdf,
                                            left_on,
                                            right_on)



shrugFuzzyPmgsyDf.to_csv("shrugPmgsyDfFuzzyMatcher.csv")

In [ ]:
# obtaining final dataset with unique identifiers

shrugFuzzyPmgsyDfColL = []
for column in shrugFuzzyPmgsyDf.columns:
  # if "Cleaned" in column or "shrid" in column or "village" in column:
  shrugFuzzyPmgsyDfColL.append(column)

shrugFuzzyPmgsyDfOut = shrugFuzzyPmgsyDf[shrugFuzzyPmgsyDfColL]
shrugFuzzyPmgsyDfOutDict = {val: index for index, val in enumerate(shrugFuzzyPmgsyDfOut.villages_SHRUG.unique())}
shrugFuzzyPmgsyDfOut["identifier"] = shrugFuzzyPmgsyDfOut.villages_SHRUG.map(shrugFuzzyPmgsyDfOutDict)

shrugFuzzyPmgsyDfOut.to_csv("shrugPmgsyDfFuzzyMatcherOUT.csv")

In [ ]:
# some DILRMP_df data processing

for column in DILRMP_df.columns:
  DILRMP_df[column] = DILRMP_df[column].astype(str)
  DILRMP_df[column+"_Cleaned_DILRMP"] = DILRMP_df[column].apply(cleanText)

In [ ]:
shrug_df.head(2)

  state_name_SHRUG district_name_SHRUG  ...             k2              k3
0          manipur       churachandpur  ...  churachandpur       b kholmun
1    jammu kashmir            baramula  ...       tangmarg  ati pora zikar

[2 rows x 13 columns]

In [ ]:
# shrug_df['k1'],shrug_df['k2'],shrug_df['k3'] = shrug_df['district_nameCleaned_SHRUG'],shrug_df['subdistrict_nameCleaned_SHRUG'],shrug_df['villages_SHRUG']
DILRMP_df['k0'],DILRMP_df['k1'],DILRMP_df['k2'],DILRMP_df['k3'] = DILRMP_df['state_Cleaned_DILRMP'], DILRMP_df['district_Cleaned_DILRMP'],DILRMP_df['tehsil_Cleaned_DILRMP'],DILRMP_df['village_Cleaned_DILRMP']

In [ ]:
# again for inferential purposes
shrugDILRMP_df = pd.merge(shrug_df, DILRMP_df, how="inner", on=["k0","k1", "k2","k3"])

In [ ]:
shrugDILRMP_df.to_csv("shrugDILRMP_df_hard.csv")

In [ ]:
DILRMP_dfSample = DILRMP_df[DILRMP_df["district_Cleaned_DILRMP"]=="barmer"]

In [ ]:
left_on = ["state_nameCleaned_SHRUG","district_nameCleaned_SHRUG", "subdistrict_nameCleaned_SHRUG", "villages_SHRUG"]

right_on = [
    "state_Cleaned_DILRMP","district_Cleaned_DILRMP", "tehsil_Cleaned_DILRMP", "village_Cleaned_DILRMP"
]

# fuzzy operation on shrug and DILRMP data

In [ ]:
import fuzzymatcher
shrugFuzzyDILRMP_df = fuzzymatcher.fuzzy_left_join(shrug_df,
                                            DILRMP_df,
                                            left_on,
                                            right_on)



shrugFuzzyDILRMP_df.to_csv("shrugDILRMPDfFuzzyMatcher.csv")

In [ ]:
shrugFuzzyDILRMPDfColL = []
for column in shrugFuzzyDILRMP_df.columns:
  # if "Cleaned" in column or "shrid" in column or "village" in column:
  shrugFuzzyDILRMPDfColL.append(column)

shrugFuzzyDILRMPDfOut = shrugFuzzyDILRMP_df[shrugFuzzyDILRMPDfColL]
shrugFuzzyDILRMPDfOutDict = {val: index for index, val in enumerate(shrugFuzzyDILRMPDfOut.villages_SHRUG.unique())}
shrugFuzzyDILRMPDfOut["identifier"] = shrugFuzzyDILRMPDfOut.villages_SHRUG.map(shrugFuzzyDILRMPDfOutDict)

shrugFuzzyDILRMPDfOut.to_csv("shrugDILRMPDfFuzzyMatcherOUT.csv")